<!DOCTYPE html>
<html>
  <head>
    <style>
      th,td{
        padding: 10px;
      }
    </style>
  </head>

  <body>
    {% for product in Products | groupby("producer") %}
           <h1>{{ product.grouper }}</h1>
           <table border="1" style="border-collapse: collapse">
            <tr>
              <th>Product ID</th>
              <th>Name</th>
              <th>Type</th>
            </tr>
            {% for item in product.list %}
              <tr>
                <td> {{ item.product_id }} </td>
                <td> {{ item.prod_name }} </td>
                <td> {{ item.type }} </td>
              </tr>
            {% endfor %} 
            
          </table>   
          <h2>The number of products in {{product.grouper}} is {{ product.list | length }}</h2>
    {% endfor %}
  </body>
</html>