<!DOCTYPE html>
<html>
  <head>
    <title> Student </title>
  </head>
  <body>
    <h1 align="center"> Student Details </h1>
    <div>
      <table id="personal-details">
        <tr>
          <th> Roll Number </th>
          <th> First Name </th>
          <th> Last Name </th>
        </tr>
        <tr>
          <td>{{ student.roll_number }}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
        </tr>
      </table>
    </div>

    <h1 align="center"> Enrollment list </h1>
    <div>
      <table id="enroll-table">
        <tr>
          <th> S. No </th>
          <th> Course Code </th>
          <th> Course Name </th>
          <th> Course Description </th>
        </tr>
        {% for course in courses %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div style="margin:10px 240px">
      <a href="{{ url_for('get_students') }}">Go Back</a>
    </div>
  </body>
</html>