<!DOCTYPE html>
<html>
  <head>
    <title> Courses </title>
  </head>
  <body>
    <h1 style="display:inline"> Courses List </h1>
    <a href="url_for('get_students')" style="font-size:20px;font-weight:bold;float:right"> Go to Students </a>

    {% if courses | length == 0 %}
      <div>
      <p>No courses found.Add the courses now!</p>
      </div>
    {% else %}
      <div style="margin-bottom:10px">
        <table id = "all-courses">
          <tr>
            <th> SNo </th>
            <th> Course Code </th>
            <th> Course Name</th>
            <th> Course Description </th>
            <th> Actions </th>
          </tr>
          {% for course in courses %}
            <tr align="center">
              <td>{{ loop.index }}</td>
              <td><a href="{{ url_for('course_details',course_id = course.course_id) }}">{{ course.course_code }}</a></td>
              <td>{{ course.course_name }}</td> 
              <td>{{ course.course_description }}</td>
              <td>
                <a href="{{ url_for('update_course',course_id = course.course_id) }}" type="button"> Update </a>
                <a href="{{ url_for('delete_course',course_id = course.course_id) }}" type="button"> Delete </a>
              </td>
            </tr>  
          {% endfor %}
        </table>
      </div>
    {% endif %}
    <div>
      <a href="{{ url_for('create_course') }}" style="margin : 120px"> + Add Course </a>
    </div>
  </body>
</html>