<!DOCTYPE html>
<html>
  <head>
    <title> Add Student </title>
  </head>
  <body>
    <h1> Add a Student </h1>
    <div>

      <form action="/student/create" method="POST" id="create-form">
        <div style="margin:10px">
          <label for="roll_number"> Roll Number: </label>
          <input type="text" id="roll_number" name="roll" required>
        </div>

        <div style="margin:10px">
          <label for="first_name"> First Name: </label>
          <input type="text" id="first_name" name="f_name" required>
        </div>

        <div style="margin:10px">
          <label for="last_name"> Last Name: </label>
          <input type="text" id="last_name" name="l_name">
        </div>

        <div style="margin:10px">
          <label> Select Courses: </label>
          <input type="checkbox" name="courses" value="MAD I">
          <label> MAD I </label>
          <input type="checkbox" name="courses" value="DBMS">
          <label> DBMS </label>
          <input type="checkbox" name="courses" value="PDSA">
          <label> PDSA </label>
          <input type="checkbox" name="courses" value="BDM">
          <label> BDM </label>
        </div>

        <div>
          <input type="submit" value = "Submit">
        </div>

      </form>
      
    </div>
  </body>
</html>