<!DOCTYPE html>
<html>
  <head>
    <title>Enter Details</title>
  <head>

  <body>
    <h1>Enter the details</h1>
    <form action = "/" method = "post">
      <input type = "radio" id = "radio1" name = "ID" value = "student_id" >
      <label for = "radio1">StudentID
        
      <input type = "radio" id = "radio2" name = "ID" value = "course_id">
      <label for = "radio2">CourseID

      <input type = "text" name = "id_value">
      <input type = "submit" value = "Submit">
    </form>

  </body>
</html>