<!DOCTYPE html>
<html>
  <head>
    <title>Student Data</title>
  <head>

  <body>
    <h1>Student Details</h1>
      <table border = "1px" id = "student-details-table"">
          <tr>
            <th>{{header[0]}}</th>
            <th>{{header[1]}}</th>
            <th>{{header[2]}}</th>
          </tr>
        {% for row in data %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
          </tr>
        {% endfor %}
          <tr>
            <td colspan = 2 align = "center">Total Marks</td>
            <td> {{total}}</td>
          </tr>
      </table>
    </div>
    <br>
    <div>
      <a href = "/">Go Back</a>
    </div>
  </body>
</html>